<div class="row">
  <div class="col">
    <h2>New Task</h2>
    <p class="lead">Create a new long-running task.</p>
    <form class="form-inline" novalidate #taskForm="ngForm" (ngSubmit)="createTask()">
      <label class="mr-2" for="duration">Duration</label>
      <input id="duration" class="mr-2" type="number" value="5" name="duration" required [(ngModel)]="data.duration">
      <div class="form-check mr-2">
        <input id="sync" class="form-check-input" type="checkbox" name="sync" checked required [(ngModel)]="data.sync">
        <label for="sync" class="form-check-label">Sync</label>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="false">Create</button>
    </form>
    <h2 class="mt-3">Actions</h2>
    <button class="btn btn-primary btn-block" type="button" (click)="clearTasks()">Clear Tasks</button>
  </div>
  <div class="col">
    <h2>Tasks</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Status</th>
          <th scope="col">Created</th>
          <th scope="col">Updated</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <th scope="row">{{ task.id }}</th>
          <td>{{ task.status }}</td>
          <td>{{ task.created }}</td>
          <td>{{ task.updated }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
      